#root {
  width: 100vw;
  height: 100vh;    
  margin: 0;
  padding: 0;
  text-align: center;
}

canvas{
  background-color: rgb(56, 52, 49);
}

canvas:hover {
  cursor: grab;
}

canvas:active {
  cursor: grabbing;
}
